* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 0;
  margin: 0;
  height: 150vh;
  position: relative;
  background-color: #ffecc4;
  scroll-behavior: smooth;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(244, 201, 93, 0.604);
  border-bottom: none;
  box-shadow: 10px 0px 10px 10px rgba(244, 201, 93, 0.6);
  z-index: 4;
  position: absolute;
  position: fixed;
  font-size: 25px;
  padding: 10px;
}
#logo {
  margin-left: 30px;
}
ul {
  display: flex;
  width: 300px;
  justify-content: space-around;
  list-style: none;
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: black;
  transition: all 1000ms;
}
a:hover {
  text-decoration: underline;
  color: rgb(36, 102, 132);
  transition: all 1000ms;
}

.hero-section::before {
  content: "";
  height: 90vh;
  width: 100%;
  background-image: url(../img/hero-section2jpg.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;

  background-repeat: no-repeat;
  background-origin: content-box;
  display: block;
  filter: blur(3px);
}
.hero-section::after {
  content: "";
  height: 90vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  position: absolute;
  top: 0px;
  opacity: 30%;
  background-color: black;
}

#container {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 40%;
  margin-top: 105px;
  margin-left: -145px;
  width: 40%;
  height: 350px;
  text-align: center;
}

#title {
  width: 100%;
  text-align: center;
  font-size: 80px;
  color: white;
  filter: drop-shadow(3px 3px 2px rgba(244, 201, 93, 1));
}
#explore {
  height: 50px;
  width: 200px;
  background-color: #e2a625;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  margin-top: 30px;
  position: absolute;
  left: 35%;
}

button:hover {
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  transition: all 1000ms;
}
button {
  transition: all 1000ms;
}

/* card style */
#contenr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 600px;
}
.cards {
  width: 280px;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid none;
  border-radius: 25px;
  background-color: white;
}
img {
  width: 200px;
  margin-top: 10px;
  height: auto;
  filter: drop-shadow(10px 0px 10px rgba(45, 44, 44, 0.6));
}

#text-card {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: start;
  gap: 20px;
}
#description {
  width: 220px;
}
.proprty {
  width: 280px;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  background-color: #e2a625;
  /* place-content: end; */

  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}
.line {
  height: 72px;
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
}
#speed {
  border-right: 0.4px solid;
  height: 100%;
}

#more {
  height: 50px;
  width: 200px;
  background-color: #e2a625;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  align-self: flex-end;
}
.button {
  align-self: flex-end;
  margin-right: 20%;
  margin-top: 5%;
}
footer {
  background-color: #e2a625;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
@media screen and (max-width: 1366px) {
  #navbar {
    flex-wrap: wrap;
  }
  #logo {
    margin-left: 5%;
  }
}
@media screen and (max-width: 1000px) {
  #navbar {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #logo {
    margin-left: 5%;
  }
  ul {
    margin-left: 8%;
  }

  .hero-section::before {
    height: 50vh;
  }
  .hero-section::after {
    height: 50vh;
  }
  #explore {
    left: 15%;
  }

  #container {
    position: absolute;
    z-index: 1;
    top: 4%;
    left: 53%;
    margin-top: 105px;
    margin-left: -145px;
    width: 61%;
    height: 350px;
    text-align: center;
  }

  #title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
    filter: drop-shadow(3px 3px 2px rgba(244, 201, 93, 1));
  }

  .wrapper {
    display: none;
  }
  #contenr {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
  }
  .cards-media {
    width: 280px;
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid none;
    border-radius: 25px;
    background-color: white;
  }
  img {
    width: 150px;
    margin-top: 10px;
    height: auto;
    filter: drop-shadow(10px 0px 10px rgba(45, 44, 44, 0.6));
  }

  #text-card {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: start;
    gap: 20px;
  }

  .proprty {
    width: 280px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    background-color: #e2a625;
    place-content: end;

    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
  }
  .line {
    height: 72px;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
  }
  #speed {
    border-right: 0.4px solid;
    height: 100%;
  }
  #power {
    border-right: 0.4px solid;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 40px;
    margin-top: 10%;
  }
}
